In [1]:
import pandas as pd

In [2]:
filePath = '/home/bojrick/ProjectRepos/multipage-dash-app/datasets/na6Df.csv'
na6Df = pd.read_csv(filePath)
na6Df.head()

,YearMonth,NAICS,NAICS_SDESC,NA2 Description,DIST_NAME,GEN_CHA_MO,GEN_VAL_MO,GEN_CIF_MO,CC_MO,CNT_CHA_MO,CNT_VAL_MO,CNT_WGT_MO,AIR_CHA_MO,AIR_VAL_MO,AIR_WGT_MO,VES_CHA_MO,VES_VAL_MO,VES_WGT_MO
0,2020-01,111110,SOYBEANS,"Agriculture, Forestry, Fishing and HuntingT","HOUSTON-GALVESTON, TX",25000,71199,96199,1,25000,71199,131851,0,0,0,25000,71199,131851
1,2020-01,111110,SOYBEANS,"Agriculture, Forestry, Fishing and HuntingT","NEW ORLEANS, LA",175524,2994759,3170283,33,175524,2994759,4707738,0,0,0,175524,2994759,4707738
2,2020-01,111110,SOYBEANS,"Agriculture, Forestry, Fishing and HuntingT","OGDENSBURG, NY",1950,302161,304111,15,0,0,0,0,0,0,0,0,0
3,2020-01,111110,SOYBEANS,"Agriculture, Forestry, Fishing and HuntingT","SAN FRANCISCO, CA",26482,408292,434774,4,26482,408292,645630,0,0,0,26482,408292,645630
4,2020-01,111110,SOYBEANS,"Agriculture, Forestry, Fishing and HuntingT","SEATTLE, WA",1398,12650,14048,1,1398,12650,22010,0,0,0,1398,12650,22010

NA2 Level Summary

In [ ]:
import plotly.graph_objects as go

trace1 = go.Scatter(
    x=[1, 2, 3],
    y=[2, 3, 4]
)
trace2 = go.Scatter(
    x=[20, 30, 40],
    y=[5, 5, 5],
    xaxis="x2",
    yaxis="y"
)
trace3 = go.Scatter(
    x=[2, 3, 4],
    y=[600, 700, 800],
    xaxis="x",
    yaxis="y3"
)
trace4 = go.Scatter(
    x=[4000, 5000, 6000],
    y=[7000, 8000, 9000],
    xaxis="x4",
    yaxis="y4"
)
data = [trace1, trace2, trace3, trace4]
layout = go.Layout(
    xaxis=dict(
        domain=[0, 0.45]
    ),
    yaxis=dict(
        domain=[0, 0.45]
    ),
    xaxis2=dict(
        domain=[0.55, 1]
    ),
    xaxis4=dict(
        domain=[0.55, 1],
        anchor="y4"
    ),
    yaxis3=dict(
        domain=[0.55, 1]
    ),
    yaxis4=dict(
        domain=[0.55, 1],
        anchor="x4"
    )
)
fig = go.Figure(data=data, layout=layout)
fig.show()